* {
  box-sizing: border-box;
}

.frame34249 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-radius: 48px;
  background: var(--Primary_color, #7655fb);
  padding: 8px;
  width: 306px;
  height: 50px;

  .verifyNow {
    flex-shrink: 0;
    line-height: 25px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}
