* {
  box-sizing: border-box;
}

.pleaseEnterTheVerifi3 {
  width: 291px;
  height: 44px;
  line-height: 22px;
  letter-spacing: 0;
  color: #000000;
  font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;

  .pleaseEnterTheVerifi {
    letter-spacing: 0;
    color: #4b4b4b;
    font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .pleaseEnterTheVerifi2 {
    letter-spacing: 0;
    color: #000000;
    font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
