* {
  box-sizing: border-box;
}

.or {
  width: 19px;
  height: 27px;
  line-height: 27px;
  letter-spacing: 0;
  color: #727070;
  font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
