* {
  box-sizing: border-box;
}

.frame59 {
  display: flex;
  align-items: center;
  padding-top: 174px;
  padding-bottom: 174px;
  width: 744px;
  height: 1293px;
  overflow: hidden;

  .a843143239027901 {
    margin-left: -100px;
    width: 945px;
    height: 945px;
  }
}
