* {
  box-sizing: border-box;
}

.ourHabitSolutions {
  width: 390px;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0;
  color: var(--Text_color, #262525);
  font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 500;
}
