* {
  box-sizing: border-box;
}

.setAGoal4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  width: 1512px;
  height: 3368px;
  overflow: hidden;

  .autoWrapper6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 69px;
    padding-left: 0;

    .a1462062554845971 {
      flex-shrink: 0;
      width: 240px;
      height: 240px;
    }

    .loseWeight {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 32px;
      letter-spacing: 0;
      color: var(--Text_color, #262525);
      font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .a24070916BwinkFd04Si {
      flex-shrink: 0;
      align-self: stretch;
      width: 240px;
      height: 240px;
    }

    .frame1321314869 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 48px;
      background: var(--Primary_color, #7655fb);
      padding: 8px;
      width: 132px;
      height: 45px;

      .startGoal {
        flex-shrink: 0;
        line-height: 25px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .frame1321315120 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 51px;
      border-radius: 5px;
      box-shadow: 0px 0px 4px 0px #00000040;
      background: #ffffff;
      padding: 12px 90px 0px 91px;
      height: 378px;
      row-gap: 14px;

      .frame1321315119 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
      }
    }

    .autoWrapper {
      position: relative;
      width: 115px;
      height: 1798px;

      .frame1321314893 {
        display: flex;
        position: absolute;
        top: 116px;
        right: -1397px;
        align-items: center;
        padding: 27px 100px 27px 1236px;
        width: 1512px;
        height: 104px;
        overflow: hidden;

        .frame1321314894 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 5px;
          background: var(--Primary_color, #7655fb);
          padding: 8px;
          width: 176px;
          height: 50px;

          .createAGoal {
            flex-shrink: 0;
            line-height: 26px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 19px;
            font-weight: 500;
          }

          .vector {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
          }
        }
      }

      .component10 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background: #f4f6fb;
        padding: 141px 0px 461px 51px;
        width: 115px;
        height: 1798px;
        overflow: hidden;

        .group {
          margin-left: 24px;
          width: 19px;
          height: 19px;
        }

        .frame1321315125 {
          margin-top: 48px;
          border-radius: 40px;
          width: 91px;
          height: 76px;
          overflow: hidden;
        }

        .group2608090 {
          margin-top: 58px;
          margin-left: 21px;
          width: 22px;
          height: 22px;
        }

        .group2 {
          margin-top: 80px;
          margin-left: 22px;
          width: 20px;
          height: 22px;
        }

        .group3 {
          margin-top: 80px;
          margin-left: 19px;
          width: 25px;
          height: 22px;
        }

        .group4 {
          margin-top: 80px;
          margin-left: 20px;
          width: 25px;
          height: 26px;
        }

        .group5 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin: 80px 21px 0px 22px;
          padding-right: 1px;
          padding-bottom: 1px;

          .vector2 {
            border-radius: 50%;
            width: 10px;
            height: 10px;
          }

          .vector3 {
            margin-top: 4px;
            border-radius: 50%;
            width: 21px;
            height: 12px;
          }
        }

        .group2608092 {
          margin-top: 533px;
          margin-left: 17px;
          width: 25px;
          height: 26px;
        }
      }

      .navigationRegistered {
        display: flex;
        position: absolute;
        top: 0;
        right: -1397px;
        align-items: center;
        background: #ffffff;
        padding: 27px 100px;
        width: 1512px;
        height: 110px;
        overflow: hidden;

        .goalHyke1Dpi1 {
          width: 198px;
          height: 56px;
        }

        .frame7 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 27px;
          margin-left: 209px;
          border-radius: 56px;
          background: var(--Secondary_color, #4169e1);
          width: 472px;

          .hOwitworks {
            flex-shrink: 0;
            padding: 10px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 17px;
          }
        }

        .group6 {
          display: flex;
          align-items: flex-start;
          margin-left: 154px;
          padding: 2px 1px 14px 11px;
          background-image: url(../image/mqgkg7wr-rx8k3tf.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .ellipse55 {
            border-radius: 50%;
            background: var(--Success-Errors, #ff4e68);
            width: 8px;
            height: 8px;
          }
        }

        .frame4 {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          margin-left: 25px;
          border: 1px solid var(--Primary_color, #7655fb);
          border-radius: 56px;
          padding: 9px;

          .gEttoken {
            flex-shrink: 0;
            line-height: 28px;
            letter-spacing: 0;
            color: var(--Primary_color, #7655fb);
            font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: 500;
          }
        }

        .frame1321314867 {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-left: 39px;
          border-radius: 48px;
          background: var(--Primary_color, #7655fb);
          padding: 4px 13px 3px 6px;
          width: 83px;
          min-width: 83px;

          .avatarImage48 {
            border: 1px solid #ffffff;
            border-radius: 21px;
            width: 41px;
            height: 41px;
            overflow: hidden;
            background-image: url(../image/mqgkg7xo-0h5cmk6.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .vector4 {
            margin-top: 21px;
            width: 12px;
            height: 6px;
          }
        }
      }
    }

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 393px;
      margin-left: 27px;

      .frame1321315101 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 12px 91px 0px;
        height: 378px;
        row-gap: 14px;

        .frame1321315100 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
        }
      }

      .frame1321315112 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 51px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 19px 80px 0px;
        height: 378px;
        row-gap: 14px;

        .frame1321315111 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .a1356076752412911 {
            flex-shrink: 0;
            width: 233px;
            height: 233px;
          }
        }
      }

      .frame1321315116 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 51px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 12px 90px 0px 91px;
        height: 378px;
        row-gap: 14px;
      }
    }

    .autoWrapper4 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 253px;
      margin-left: 19px;

      .autoWrapper2 {
        position: relative;
        flex-shrink: 0;
        width: 15px;
        height: 13px;

        .arrow2 {
          position: absolute;
          top: 6px;
          left: -2px;
          width: 20px;
          height: 2px;
          rotate: -40deg;
        }
      }

      .frame22 {
        position: relative;
        margin-left: 75px;
        width: 198px;
        height: 65px;

        .ellipse2 {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          background: #3e6cf4;
          width: 65px;
          height: 65px;
        }

        .setAGoal3 {
          position: absolute;
          top: 12px;
          left: 41px;
          width: 157px;
          height: 41px;
          line-height: 41px;
          letter-spacing: 0;
          color: #000000;
          font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 35px;
          font-weight: 500;

          .setAGoal {
            line-height: 41px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 35px;
            font-weight: 500;
          }

          .setAGoal2 {
            line-height: 41px;
            letter-spacing: 0;
            color: var(--Text_color, #262525);
            font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 35px;
            font-weight: 500;
          }
        }
      }

      .frame13213151012 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 75px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 12px 91px 0px;
        height: 378px;
        row-gap: 14px;

        .frame13213151002 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
        }
      }

      .frame1321315114 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 51px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 12px 90px 0px 91px;
        height: 378px;
        row-gap: 14px;

        .frame1321315113 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .levelUpYourCareer {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 32px;
            letter-spacing: 0;
            color: var(--Text_color, #262525);
            font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 500;
          }
        }

        .frame13213148692 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 48px;
          background: var(--Primary_color, #7655fb);
          padding: 8px;
          width: 132px;
          height: 45px;

          .startGoal2 {
            flex-shrink: 0;
            line-height: 25px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }

    .autoWrapper5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 393px;
      margin-left: 19px;

      .frame1321315110 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 19px 55px 0px 56px;
        height: 378px;
        row-gap: 14px;

        .frame1321315109 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .a174541 {
            flex-shrink: 0;
            width: 310px;
            height: 233px;
          }
        }
      }
    }
  }

  .frame27 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 82px;
    padding: 54px 166px 118px 156px;
    min-width: 1512px;
    overflow: hidden;

    .frame29 {
      position: relative;
      width: 382px;
      height: 249px;

      .frame28 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding: 29px 182px 76px 28px;
        width: 382px;
        height: 219px;
        overflow: hidden;

        .autoWrapper7 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 0;
          padding-left: 0;

          .avatarImage53 {
            border-radius: 27px;
            width: 53px;
            height: 53px;
            overflow: hidden;
          }

          .johnDoe {
            margin: 17px 0px 0px;
            line-height: 27px;
            letter-spacing: 0;
            color: var(--Text_color, #262525);
            font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }

        .quitSmoking {
          margin: 34px 0px 0px;
          line-height: 27px;
          letter-spacing: 0;
          color: var(--Text_color, #262525);
          font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 21px;
        }
      }

      .group22 {
        position: absolute;
        top: 188px;
        left: 161px;
        width: 61px;
        height: 61px;
      }
    }
  }

  .behaviouralSolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #ffffff;
    padding: 67px 282px 124px;
    overflow: hidden;

    .ourHabitSolutions {
      line-height: 57px;
      letter-spacing: 0;
      color: var(--Text_color, #262525);
      font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 45px;
      font-weight: 500;
    }

    .autoWrapper9 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 60px;
      padding-right: 0;
      padding-left: 0;

      .frame47 {
        display: flex;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 0px #00000040;
        background: #ffffff;
        padding-top: 23px;
        padding-bottom: 23px;
        width: 348px;
        overflow: hidden;

        .a1298392051213621 {
          margin-left: -3px;
          width: 354px;
          height: 295px;
        }
      }

      .autoWrapper8 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .frame52 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 15px;

          .frame51 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 260px;

            .goalHyke {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 45px;
              letter-spacing: 0;
              color: var(--Text_color, #262525);
              font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 35px;
            }

            .commit {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 39px;
              letter-spacing: 0;
              color: var(--Text_color, #262525);
              font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
            }
          }

          .providesAnIncentiveA {
            flex-shrink: 0;
            align-self: stretch;
            width: 420px;
            height: 189px;
            line-height: 27px;
            letter-spacing: 0;
            color: var(--Text_color, #262525);
            font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }
        }

        .frame50 {
          display: inline-flex;
          align-items: center;
          align-self: stretch;
          column-gap: 29px;
          margin-top: 45px;
          margin-right: 110px;

          .frame48 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 70px;
            background: var(--Primary_color, #7655fb);
            padding: 10px;
            width: 129px;
            height: 50px;

            .sIgnup {
              flex-shrink: 0;
              line-height: 25px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
            }
          }

          .frame49 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border: 1px solid var(--Primary_color, #7655fb);
            border-radius: 70px;
            padding: 9px;
            width: 152px;
            height: 50px;

            .lEarnmore {
              flex-shrink: 0;
              line-height: 25px;
              letter-spacing: 0;
              color: var(--Primary_color, #7655fb);
              font-family: "Roboto Serif", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 34px;
    background: #12171d;
    padding: 58px 467px 112px 100px;
    overflow: hidden;

    .autoWrapper10 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 4px;

      .lOgo {
        line-height: 39px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "SangBleu Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }

      .frame55 {
        display: inline-flex;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 7px;
        margin-top: 24px;
        padding: 10px;

        .group7 {
          flex-shrink: 0;
          width: 13px;
          height: 13px;
        }

        .a2025CopyrightGoalHy {
          flex-shrink: 0;
          line-height: 26px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .frame135 {
        margin-top: 24px;
        width: 107px;
        height: 26px;
      }
    }

    .frame57 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 154px;
      row-gap: 20px;

      .general {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 32px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .frame56 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 12px;

        .aboutUs {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 32px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }

    .frame58 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 52px;
      margin-left: 170px;
      width: 107px;
      row-gap: 20px;

      .frame562 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: -4px;
        row-gap: 12px;

        .termsOfUse {
          flex-shrink: 0;
          line-height: 32px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Nunito Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 18px;
        }
      }
    }
  }
}
