* {
  box-sizing: border-box;
}

.component10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f4f6fb;
  padding: 141px 0px 461px 51px;
  width: 115px;
  height: 1798px;
  overflow: hidden;

  .group {
    margin-left: 24px;
    width: 19px;
    height: 19px;
  }

  .frame1321315125 {
    margin-top: 48px;
    border-radius: 40px;
    width: 91px;
    height: 76px;
    overflow: hidden;
  }

  .group2608090 {
    margin-top: 58px;
    margin-left: 21px;
    width: 22px;
    height: 22px;
  }

  .group2 {
    margin-top: 80px;
    margin-left: 22px;
    width: 20px;
    height: 22px;
  }

  .group3 {
    margin-top: 80px;
    margin-left: 19px;
    width: 25px;
    height: 22px;
  }

  .group4 {
    margin-top: 80px;
    margin-left: 20px;
    width: 25px;
    height: 26px;
  }

  .group5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 80px 21px 0px 22px;
    padding-right: 1px;
    padding-bottom: 1px;

    .vector {
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }

    .vector2 {
      margin-top: 4px;
      border-radius: 50%;
      width: 21px;
      height: 12px;
    }
  }

  .group2608092 {
    margin-top: 533px;
    margin-left: 17px;
    width: 25px;
    height: 26px;
  }
}
