* {
  box-sizing: border-box;
}

.frame1321314865 {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  background: #f9faff;
  padding: 18px 3px 0px;
  width: 347px;
  height: 390px;
  overflow: hidden;

  .iPhone13Pro {
    width: 341px;
    height: 372px;
  }
}
