@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}
