* {
  box-sizing: border-box;
}

.frame22 {
  position: relative;
  width: 198px;
  height: 65px;

  .ellipse2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #3e6cf4;
    width: 65px;
    height: 65px;
  }

  .setAGoal3 {
    position: absolute;
    top: 12px;
    left: 41px;
    width: 157px;
    height: 41px;
    line-height: 41px;
    letter-spacing: 0;
    color: #000000;
    font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 500;

    .setAGoal {
      line-height: 41px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 35px;
      font-weight: 500;
    }

    .setAGoal2 {
      line-height: 41px;
      letter-spacing: 0;
      color: var(--Text_color, #262525);
      font-family: Poligon, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 35px;
      font-weight: 500;
    }
  }
}
